.registration-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.registration-container form {
    width: 90%;
}

.registration-container label {
    margin-bottom: 10px;
    font-weight: bold;
}

.registration-container input[type="text"],
.registration-container input[type="email"],
.registration-container input[type="password"]
 {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.registration-container button[type="submit"] {
    width: 90%;
    padding: 10px 20px;
    background: #005eb8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.registration-container button[type="submit"]:hover {
    background: #004080;
}

.registration-container p {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.registration-container a {
    color: #005eb8;
    text-decoration: none;
    font-weight: bold;
}

.registration-container a:hover {
    text-decoration: underline;
}